h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(284, 77%, 57%);
    text-align: center;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(284, 77%, 57%);
}

ul, 
ol, 
p {
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-weight: bold;
    font-style: italic;
}

a {
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}